 
$font_1: 'robotomedium', Arial, Helvetica, Sans-Serif;
$font_2: 'robotothin', Arial, Helvetica, Sans-Serif;
$font_3: 'Roboto', Arial, Helvetica, Sans-Serif;
$font_4: 'robotolight', Arial, Helvetica, Sans-Serif;
$font_5: Pacifico, Arial, Helvetica, sans-serif;
$font_6: FontAwesome, Arial, Helvetica, sans-serif;
$font_7: 'Arizonia',cursive;

$primaryFontStack : 'robotomedium', Arial, Helvetica, Sans-Serif;
$secondryFontStack: 'robotothin', Arial, Helvetica, Sans-Serif;
$tertiaryFontStack: 'Roboto', Arial, Helvetica, Sans-Serif;
$quarternaryFontStack: 'roboto-bold', Arial, Helvetica, Sans-Serif;
$quinaryFontStack: 'robotolight', Arial, Helvetica, Sans-Serif;