.contact {
	width:100%;
	max-width:1011px;
	margin: 0px auto;
	form {
		input {
			background-color:transparent;
			width:100%;
			line-height:30px;
			box-shadow:none;
			border: none;
			border-bottom:1px solid darken(saturate(adjust-hue($lighten, 0.0000), 0.0000), 23.1373);
			color: $white;
		}
		label {
			@include transform(translateY(20px));
			@extend .globalTransition;
			font-weight:bold;
			font-family:$font_1;
			color: $white;
		}
		.move {
			@include transform(translateY(0px));
		}
		textarea {
			@extend input;
			height:160px;
			padding:15px;
			margin-top:16px;
			border:1px solid $grey10;
			line-height:20px;
			resize:none;
			color:lighten(saturate(adjust-hue($darken, 0.0000), 0.0000), 31.3725);
			font-family:$font_1;
			color: $white;
			background: $grey9;
		}
		button {
			border: 1px solid;
			@extend .active-bordercolor;
			font-size: 16px;
			height: 36px;
			line-height:30px;
			margin: 15px 10px 0 0;
			min-width: 92px;
			font-weight:700;

		}
		margin-top:50px;
		div:first-child {
			div {
				width:33.33%;
				float:left;
				padding:0px 15px;
				margin-bottom:30px;
				* {
					display:block;
					width:100%;
					 
					font-size:16px;
				}
			}
		}
		div:nth-child(2) {
			padding:0px 15px;
			
		}
		> div:nth-child(3) {
			text-align:center;
			@extend div:nth-child(2);
		}
	}
	.profilePic {
		max-width:75px;	
	}
	.profilePic + a{
		color: $lighten;
	    font-size: 16px;
	    font-weight: bold;
	    margin-left: 8px;
	}
}

.contactWrapper {
	@include margin(85px, 15px, 0px, 15px);
	width:calc(100% - 30px);
	padding:30px 0px;
	
	.container{
		background-color:rgba($grey9, 0.8);
		@include padding(30px, 15px, 30px, 15px);
	}
}

.userLocation {
	margin-top:48px;
	height:500px;
	&:before {
		content: "";
		@extend .activeopacity_9;
		height: 100%;
		max-height:100%;
		left: 0;
		position: absolute;
		top: 0;
		@extend .globalTransition;
		width: 100%;
		z-index: 2;
	}
	&:hover {
		&::before {
			visibility:hidden;
			opacity:0;
		}
	}
}